.container-fluid {
    margin: 0;
    padding: 0;
}

/* jumbotron */
.jumbotron {
    background: url("https://res.cloudinary.com/dpjdvsigb/image/upload/v1594733871/Jordan_Chude_Williams_Press_Photo_qwnyam.jpg");
    background-size: cover;
    height: 50vh;
    margin: 0;
}

/* skills */
.skill-main {
    background-color: #eeebd3;
}

.skills-header {
    text-align: center;
}

.skill-body {
    margin: 0px 10px 0px 10px;
    padding: 0px 0px 20px 0px;
}

.middle-skill {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* projects */
.projects-header {
    text-align: center;
}

.project-card {
    margin-bottom: 15px;
}

.projects-body {
    display: flex;
    justify-content: center;
}

/* contact */
.contact-form {
    background: #eeebd3;
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* media query */
@media (min-width: 768px) {
    /* skills */
    .middle-skill {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /* projects */
    .project-card {
        margin-bottom: 0px;
    }
}