:root {
    --purple: #3b429f;
    --beige: #eeebd3;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar {
    background-color: var(--purple);
}

.navbar a {
    color: white;
}

/* jumbotron */
.jumbotron {
    background: url("https://res.cloudinary.com/dpjdvsigb/image/upload/v1594764618/Jordan_Chude_Williams_Press_Photo_han403.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 50vh;
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.about {
    display: none;
}

.jumbotron-button {
    background: var(--purple);
    color: white;
}

.jumbotron-button:hover {
    color: var(--beige);
}

.SE {
    font-size: 1.5em;
}

/* skills */
.skill-main {
    background: var(--beige);
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.skill-main .card {
    border: 3px solid var(--purple);
    border-radius: 7px;
}

.skills-header {
    color: var(--purple);
    text-shadow: 1px 1px 1px white;
}

.skill-card-header {
    background: var(--purple);
    color: white;
}

.skill-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 10px 0px 10px;
    padding: 0px 0px 20px 0px;
}

.middle-skill {
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-group li {
    border-style: none;
}

/* projects */
.projects-main {
    padding-top: 2%;
    padding-bottom: 2%;
    background: var(--purple);
}

.projects-main .card {
    border: 3px solid var(--beige);
}
.projects-header { 
    color: var(--beige);
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.project-card {
    height: 95%;
    margin-bottom: 15px;
}

.projects-body {
    display: flex;
    justify-content: center;
}

.projects-buttons {
    margin-right: 10px;
}
/* contact form */
.contact-div {
    background: #eeebd3;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

form {
    background: var(--purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    padding: 20px;
    width: 25%;
}

.form-input {
    border: 3px solid var(--beige);
    margin-bottom: 20px;
}

/* footer */
footer {
    align-items: center;
    background: var(--purple);
    color: white;
    display: grid;
    grid-template-rows: repeat(2, 50px);
    grid-template-columns: auto;
    grid-template-areas: "instagram twitter linkedin"
                         "footer-name footer-name footer-name";
    justify-content: center;
    text-align: center;
}

footer a {
    color: white;
}

footer a:hover {
    color: var(--beige);
}

.footer-name {
    color: white;
    font-size: 1.3rem;
    grid-area: footer-name;
}

.fa-instagram {
    grid-area: instagram;
}

.fa-twitter {
    grid-area: twitter;
}

.fa-linkedin {
    grid-area: linkedin;
}

/* media query */
@media (min-width: 768px) {
    
    /* navbar */
    .nav-contact {
        border: 1px solid white;
        border-radius: 50px;
    }

    /* jumbotron */
    .about {
        display: block;
        font-size: 16px;
    }
    
    /* skills */
    .middle-skill {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /* projects */
    .project-card {
        margin-bottom: 15px;
    }
}